* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 800vh;
  background-color: hsl(0, 0%, 98%);
}

.light-mode {
  background-color: hsl(0, 0%, 98%);
  color: hsl(209, 23%, 22%);
}

.dark-mode {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 1440px) {
  .App {
    height: 1320vh;
  }
}
